.git
.github
__pycache__/
*.pyc
*.pyo

tests/
data/
datasets/
models/
logs/

recommenders_microsoft/
src/steps/stage_03_model_trainer/recommenders_microsoft/

venv/
.env
*.zip
*.tar
*.gz

.pytest_cache/
.cache/
